[Desktop Entry]
Name=Desktop Settings
Name[af]=Werkskerm se instellings
Name[am]=የዴስክቶፕ አቀማመጥ
Name[ar]=إعدادات سطح المكتب
Name[ast]=Axustes d'escritoriu
Name[az]=Masaüstü Tәnzimlәmәlәri
Name[be]=Настáўленні стала
Name[bg]=Настройки на работния плот
Name[bn]=ডেস্কটপ সেটিংস
Name[bs]=Postavke desktopa
Name[ca]=Ajusts de l'escriptori
Name[ca@valencia]=Ajusts de l'escriptori
Name[cs]=Nastavení pracovního prostředí
Name[csb]=Nastôwë pùltu
Name[cv]=Ӗҫ сӗтел майлаштару
Name[cy]=Gosodiadau Bwrdd Gwaith
Name[da]=Skrivebordsindstillinger
Name[de]=Schreibtischeinstellungen
Name[el]=Ρυθμίσεις επιφάνειας εργασίας
Name[eo]=Labortablaj agordoj
Name[es]=Configuración del escritorio
Name[et]=Töölaua seaded
Name[eu]=Mahaigainaren ezarpenak
Name[fa]=تنظیمات میزکار
Name[fi]=Työpöydän asetukset
Name[fil]=Mga setting para sa pook ng likha
Name[fo]=Uppsetan av skriviborð
Name[fr]=Paramètres du bureau
Name[fr_CA]=Paramètres du bureau
Name[ga]=Socruithe na Deisce
Name[gd]=Roghainnean an desktop
Name[gl]=Configuración do escritorio
Name[gv]=Reihghyn buird claare
Name[he]=הגדרות שולחן העבודה
Name[hi]=डेस्कटॉप सेटिंग्स
Name[hr]=Postavke radne površine
Name[hu]=Asztalbeállítások
Name[ia]=Preferentias de Scriptorio
Name[id]=Pengaturan Desktop
Name[ie]=Parametres del Pupitre
Name[is]=Skjáborðsstillingar
Name[it]=Impostazioni del desktop
Name[ja]=デスクトップの設定
Name[jv]=Setelane Destop
Name[kab]=Iɣewwaṛen n tnarit
Name[kk]=Жұмыс үстел баптаулары
Name[km]=ការ​កំណត់​ផ្ទៃតុ
Name[kn]=ಗಣಕತೆರೆ ಸಂಯೋಜನೆಗಳು
Name[ko]=데스크톱 설정
Name[ku]=Mîhengên Sermêze
Name[ky]=Иш столунун ырастоолору
Name[la]=Optationis Scriptorium
Name[lb]=Benotzeriwerfläsch Astellungen
Name[lo]=ການຕັ້ງຄ່າ ພື້ນໂຕະ
Name[lt]=Darbalaukio nustatymai
Name[lv]=Darbvirsmas iestatījumi
Name[mai]=डेस्कटॉप सेटिंग्स
Name[mk]=Поставувања на работната површина
Name[ml]=ഡെസ്ക്ടോപ്പ് സജ്ജീകരണങ്ങള്‍
Name[mr]=डेस्कटॉप रचना
Name[ms]=Tetapan Desktop
Name[nap]=Impostazioni d''o Desktop
Name[nb]=Skrivebordsinnstillinger
Name[nds]=Desktopeinstellungen
Name[ne]=डेस्कटप सेटिङहरु
Name[nl]=Werkomgevinginstellingen
Name[nn]=Skrivebordsinnstillingar
Name[oc]=Paramètres del burèu
Name[om]=Fedhiilee minjaalaa
Name[pa]=ਡੈਸਕਟਾਪ ਸੈਟਿੰਗਸ
Name[pap]=Konfigurashonnan di Desktop
Name[pl]=Ustawienia pulpitu
Name[pt]=Definições do ambiente de trabalho
Name[pt_BR]=Configurações da área de trabalho
Name[ro]=Setări desktop
Name[ru]=Настройки рабочего стола
Name[sc]=Sèberos de Iscriania
Name[si]=වැඩතල සැකසුම්
Name[sk]=Nastavenia plochy
Name[sl]=Nastavitve namizja
Name[so]=Setting-yadda dheskitoobka
Name[sq]=Rregullimet e Hapësirës së Punës
Name[sr]=Поставке радне површи
Name[sr@latin]=Podešavanja radne površine
Name[sv]=Skrivbordsinställningar
Name[ta]=பணிமேடை அமைப்புகள்
Name[te]=డెస్క్‍టాప్ అమరికలు
Name[tg]=Танзимоти мизи корӣ
Name[th]=การตั้งค่าพื้นโต๊ะ
Name[tl]=Mga setting para sa pook ng likha
Name[tr]=Masaüstü Ayarları
Name[uk]=Налаштування стільниці
Name[ur]=سطحِ مکتب ترتیبات
Name[uz]=Иш столи созламалари
Name[vi]=Thiết lập Màn hình làm việc
Name[zh_CN]=桌面设置
Name[zh_HK]=桌面設定
Name[zh_TW]=桌面設定
Comment=Fine-tune desktop settings
Comment[af]=Vervyn werkskerm stellings
Comment[am]=የዴስክቶፕ አቀማመጥ ማረሚያ
Comment[ar]=ضبط إعدادات سطح المكتب بدقة
Comment[ast]=Axuste finu de los axustes del escritoriu
Comment[be]=Падрабязныя настáўленні стала
Comment[bg]=Фина настройка на работния плот
Comment[bn]=ফাইন-টিউন ডেস্কটপ সেটিংস
Comment[bs]=Detaljne postavke desktopa
Comment[ca]=Ajust detallat d'opcions d'escriptori
Comment[ca@valencia]=Ajust detallat d'opcions d'escriptori
Comment[cs]=Podrobnější nastavení pracovního prostředí
Comment[csb]=Dopasëjë nastôwë pùltu
Comment[cy]=Mireinio gosodiadau'r bwrdd gwaith
Comment[da]=Finjustér skrivebordsindstillingerne
Comment[de]=Schreibtischfeineinstellungen
Comment[el]=Λεπτομερής ρύθμιση επιφάνειας εργασίας
Comment[eo]=Fajnigi labortablajn agordojn
Comment[es]=Ajuste detallado de la configuración del escritorio
Comment[et]=Täpsusta töölaua seadeid
Comment[eu]=Mahaigainaren ezarpenen doiketa fina
Comment[fa]=تنظیمات ریز-کوک‌کردن میزکار
Comment[fi]=Hienosäädä työpöydän asetuksia
Comment[fil]=I-ayon sa pinakatamang ayos ang mga setting ng pook ng likha
Comment[fo]=Neyvstilla skriviborðs innstillingar
Comment[fr]=Réglage des paramètres du bureau
Comment[fr_CA]=Réglage des paramètres du bureau
Comment[ga]=Mionchoigeartaigh ar shocruithe deisce
Comment[gd]=Cuir air mion-ghleus roghainnean an desktop
Comment[gl]=Axuste preciso das opcións do escritorio
Comment[he]=הגדרות שולחן עבודה משופרות
Comment[hi]=डेस्कटॉप सेटिंग्स समायोजित करें
Comment[hr]=Precizno podešavanje radne površine
Comment[hu]=Asztalbeállítások finomhangolása
Comment[ia]=Accordar-ben le preferentias del scriptorio
Comment[id]=Pengaturan Desktop Fine-Tune
Comment[ie]=Configurar li ambientie de pupitre
Comment[is]=Fínstilla skjáborðseiginleika
Comment[it]=Impostazioni desktop avanzate
Comment[ja]=デスクトップの詳細な設定
Comment[jv]=Nyesuaikno-keindahane destop setelane
Comment[kab]=Asgaddi n iɣewwaren n tnarit
Comment[kk]=Жұмыс үстелінің тиянақты баптаулар
Comment[km]=លៃ​តម្រូវ​ការ​កំណត់​ផ្ទៃ​តុ
Comment[kn]=ಗಣಕತೆರೆ ಸಂಯೋಜನೆಗಳನ್ನು ಹದಮಾಡಿ
Comment[ko]=데스크톱 상세 설정
Comment[lb]=Benotzeriwerfläsch feinastellen
Comment[lo]=ການຕັ້ງຄ່າ ພື້ນໂຕະ ແບບ Fine-tune
Comment[lt]=Reguliuoti darbalaukio nustatymus
Comment[lv]=Pielāgot darbvirsmas iestatījumus
Comment[mai]=डेस्कटॉप सेटिंग्स समायोजित करू
Comment[ml]=ഡെസ്ക്ടോപ്പ് സജ്ജീകരണങ്ങൾ കൃത്യമാക്കുക
Comment[mr]=डेस्कटॉपचे गुणधर्म अनुकुलीत करा
Comment[ms]=Tala-halus tetapan desktop
Comment[nap]=Impostazioni d''o desktop avanzate
Comment[nb]=Finjuster skrivebordsinnstillingene
Comment[nds]=Feinabstimmung der Desktop-Einstellungen
Comment[ne]=डेस्कटपक सेटिङहरु राम्रो बनाउ
Comment[nl]=Fijnregeling van werkomgevinginstellingen
Comment[nn]=Finjuster skrivebordsinnstillingane
Comment[oc]=Reglatge dels paramètres del burèu
Comment[om]=Fedhiilee minjaala dabalii qixeessi
Comment[pa]=ਢੁੱਕਵੀਂ ਡੈਸਕਟਾਪ ਸੈਟਿੰਗਸ
Comment[pap]=Fine-tune e konfigurashon di e dèsktòp
Comment[pl]=Dostosuj ustawienia pulpitu
Comment[pt]=Ajustar definições do ambiente de trabalho
Comment[pt_BR]=Configurações avançadas do Desktop
Comment[ro]=Rafinează setările desktopului
Comment[ru]=Точная настройка рабочего стола
Comment[sc]=Sèberos de iscriania avantzados
Comment[sk]=Doladiť pracovnú plochu
Comment[sl]=Podrobno nastavi namizje
Comment[so]=Isku hagaaji setting-yadda dheskitoobka
Comment[sq]=Rregullo parametrat e desktopit
Comment[sr]=Фина подешавања радне површи
Comment[sr@latin]=Fino podešavanje radne površine
Comment[sv]=Finjustera skrivbordsinställningar
Comment[ta]=பணிமேடை அமைப்புகளை சீரமைக்கவும்
Comment[te]=ఉత్తమ-అలంకార డెస్క్‍టాప్ అమరికలు
Comment[tg]=Интихобҳои беҳтарин барои танзимоти мизи корӣ
Comment[th]=การตั้งค่าพื้นโต๊ะแบบ Fine-tune
Comment[tl]=I-ayon sa pinakatamang ayos ang mga setting ng pook ng likha
Comment[tr]=Masaüstü ince ayarları
Comment[uk]=Ретельне налаштування стільниці
Comment[ur]=فائن ٹیون ڈیسکٹ ٹاپ ترتیبات
Comment[uz]=Иш столини яхшилаб созлаш
Comment[vi]=Tinh chỉnh thiết đặt Bàn làm việc
Comment[zh_CN]=桌面优化设置
Comment[zh_HK]=微調桌面設定
Comment[zh_TW]=微調桌面設定
Exec=mintdesktop
Icon=user-desktop
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GNOME;GTK;Settings;DesktopSettings;XFCE;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=false
OnlyShowIn=MATE;XFCE;
