[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Window Manager
Comment=Window Manager Startup
Exec=xfce-autostart-wm
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

