Source: mintdesktop
Section: admin
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: mintdesktop
Architecture: all
Depends: python3 (>= 3.3),
         python3-xapp (>= 1.6),
         gir1.2-gdkpixbuf-2.0,
         gir1.2-glib-2.0,
         gir1.2-gtk-3.0,
         mint-info,
         mintsystem,
         wmctrl,
         dconf-cli,
         xapps-common (>= 2.5.0)
Description: Desktop configuration tool
 Configures some aspects of the desktop.
