[Desktop Entry]
Type=Application
Name=Migrate Compiz to Custom Profile
Exec=/usr/bin/compiz-migrate-to-custom-profile
OnlyShowIn=MATE;XFCE;
NoDisplay=true
X-MATE-Autostart-Phase=Application
X-MATE-Autostart-Notify=true
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-panel
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.8.1
